/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body{
  font-family:verdana, arial, helvetica, sans-serif;
  font-size:15px;
  line-height:15px;
  margin:30px;
}

p{
  font-family:verdana, arial, helvetica, sans-serif;
  font-size:15px;
  line-height:15px;
  margin:30px;
}

.box{
  border: 2px solid #e60000;
  width:400px;
  margin:20px 0;
}

.box h5{
  color: #ffffff;
  border-bottom: 2px solid #e60000;
  background: #e60000;
  margin:0;
  padding: 5px;
}

.box .inner{
  background: #e6e6e6;
  padding: 30px;
}

.table{
  width:300px;
  margin:20px 0;
}
